
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(211, 211, 211, 0.068);
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

.logo {
    text-align: center;
}
.login-area, .sign-up {
    background-color: white;
}

.form-main {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 30px;
}

.form-main input {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 13px 10px;
    width: 90%;
    margin: auto;
}

.form-main input::placeholder {
    color: rgb(165, 165, 165);
}

input[type="submit"] {
    background-color: rgb(70, 147, 248);
    color: white;
    font-weight: bold;
    margin-top: 8px;
    cursor: pointer;
}

.form-bottom {
    text-align: center;
    margin-top: 33px;
}

#facebook {
    font-weight: bold;
    color: rgb(0, 61, 141);
    margin-bottom: 25px;
}

#facebook i {
    font-size: 1.2em;
}

.form-bottom a {
    text-decoration: none;
    color: rgb(4, 76, 143);
}

.ou {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.ou #texto {
    margin: 0 10px 0 10px;
    color: rgb(138, 137, 137);
}

.linha {
    height: 1px;
    background-color: rgb(209, 209, 209);
    width: 135px;
}

.sign-up {
    text-align: center;
    margin-top: 60px;
}

.sign-up a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(63, 143, 247);
}

a:hover {
    text-decoration: underline;
}

.bottom {
    text-align: center;
    margin-top: 30px;
}

.plataformas {
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: center;
}

.plataformas img {
    width: 150px;
    cursor: pointer;
    transition: .3s ease;
}

.plataformas img:nth-child(1) {
    margin-right: 5px;
}

.plataformas img:hover {
    transform: scale(1.1);
    transition: .3s ease;
}

.images {
    display: none;
}



@media screen and (min-width: 850px) {
    
    .container {
        background-color: transparent;
        flex-direction: row;
        justify-content: center;
        justify-self: center;
        width: 100%;
        height: 90%;
        margin-top: 70px;
    }

    .form-container {
        margin-left: 15px;
        margin-top: 15px;
    }

    .login-area {
        width: 350px;
        padding-bottom: 20px;
        border: 1px solid lightgray;
    }

    .sign-up {
        border: 1px solid lightgray;
        padding: 20px;
        margin-top: 15px;
    }
    .bottom {
        margin-top:10px;
    }

    .images {
        display: inline-block;
        width: 441px;
        height: 700px;
        background: url(images/phones.png) no-repeat center center;
        background-size: cover;
    }

    .images img {
        width: 275px;
        position: absolute;
        translate: 50% 5%;
    }

   
}

@media screen and (max-width: 850px) {
    .images {
        display: none;
    }

    .form-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .login-area {
        width: 50%;
        margin: 0 auto;
        padding-bottom: 20px;
        border: 1px solid lightgray;
        justify-content: center;
    }

    .sign-up {
        margin: 0 auto;
        width: 50%;
        border: 1px solid lightgray;
        padding: 20px;
        margin-top: 15px;
    }
    .bottom {
        margin-top:10px;
    }

   
}

@media screen and (max-width: 600px) {

    .container {
        position: relative;
    }

    .login-area, .sign-up{
        width: 90%;
        margin: 0;
    }

    .sign-up {
        margin-top: 10px;
    }

    
}